<footer id="site-footer">
  <div class="footer-wrapper">
    <section class="horizontal-footer-section" id="footer-top-section">
      <div id="footer-logo">
        <picture>
          <img src="./img/TEXT-1.png" alt="footer logo" role="presentation">
        </picture>
      </div>
      <div id="footer-top-menu-container" role="menubar">
        <ul id="footer-top-menu" role="menu">
          <li class="footer-top-menu-item" role="menuitem">
            <a href="#" class="footer-top-menu-link">IT Services</a>
          </li>
          <li class="footer-top-menu-item footer-top-menu-item-active" role="menuitem">
            <a href="#" class="footer-top-menu-link">Web development</a>
          </li>
          <li class="footer-top-menu-item" role="menuitem">
            <a href="#" class="footer-top-menu-link">SEO</a>
          </li>
          <li class="footer-top-menu-item" role="menuitem">
            <a href="#" class="footer-top-menu-link">UI/UX</a>
          </li>
        </ul>
      </div>
      <div id="footer-buttons-container">
        <a href="#" class="footer-button" role="button">View our Projects</a>
      </div>
    </section>
    <section class="horizontal-footer-section" id="footer-middle-section">
      <div id="footer-about" class="footer-columns footer-columns-large">
        <h1>Our Address</h1>
        <address>
          <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/marker.png">30/20, Verkhy street, Moscow, Russia</p>
          <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/phone.png">7 (800) 555–35–35</p>
          <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/mail.png">noreply@reply.io</p>
          <p><img src="https://img.icons8.com/ios-filled/14/eeeeee/clock.png">8:00 AM – 8:00 PM</p>
        </address>
        <h1> Our Newsletter</h1>
        <a href="#" class="footer-button" role="button">Subscribe</a>
      </div>
      <div class="footer-columns">
        <h1>Overview</h1>
        <ul class="footer-column-menu" role="menu">
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Services </a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Pricing</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Portfolio</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">News</a>
          </li>
        </ul>
      </div>
      <div class="footer-columns">
        <h1>Resources</h1>
        <ul class="footer-column-menu" role="menu">
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">FAQ</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Media</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Guides</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Free Resources</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Testimonials</a>
          </li>
        </ul>
      </div>
      <div class="footer-columns">
        <h1>Information</h1>
        <ul class="footer-column-menu" role="menu">
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">About Us</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Terms of Use</a>
          </li>
          <li class="footer-column-menu-item">
            <a href="#" class="footer-column-menu-item-link" role="menuitem">Legal Information</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Message Us</a>
          </li>
          <li class="footer-column-menu-item" role="menuitem">
            <a href="#" class="footer-column-menu-item-link">Leave a Feedback</a>
          </li>
        </ul>
      </div>
    </section>
    <section class="horizontal-footer-section" id="footer-bottom-section">
      <div id="footer-copyright-info">
        &copy; Access4u Inc. 2022. All rights reserved.
      </div>
      <div id="footer-social-buttons">
        <img src="https://img.icons8.com/ios-filled/25/999999/facebook--v1.png" />
        <img src="https://img.icons8.com/ios-filled/25/999999/telegram-app.png" />
        <img src="https://img.icons8.com/ios-filled/25/999999/pinterest--v1.png" />
        <img src="https://img.icons8.com/ios-filled/25/999999/instagram--v1.png" />
      </div>
    </section>
  </div>
</footer>


<script src="https://testing.ngf.co.il/js/cc.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js">  </script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
  integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g=="
  crossorigin="anonymous"></script>
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script src="https://cdn.enable.co.il/licenses/enable-L5717yri62v1ap8-0620-24229/init.js"></script>
<!-- <script src="https://testing.ngf.co.il/js/accessM.js"></script> -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="./owl-slider/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
  integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
  integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- <script src="./script.js"></script> -->


<script>
  
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
// navbar
let toggleBtn = document.querySelector('.bars');
let crossBtn = document.querySelector('.cross');
let navbar = document.querySelector('.navbar-mbl');

toggleBtn.addEventListener('click', function(){
  navbar.classList.add("show-nav");
})
crossBtn.addEventListener('click', function(){
  navbar.classList.remove("show-nav");
})





  // AOS.init();
  AOS.init({
    delay: 100, // values from 0 to 3000, with step 50ms
    duration: 1500, // values from 0 to 3000, with step 50ms
    once: false, // whether animation should happen only once - while scrolling down
    mirror: false, // whether elements should animate out while scrolling past them
  });

  // owl slider
  jQuery(document).ready(function($) {
    "use strict";
    //  TESTIMONIALS CAROUSEL HOOK
    $('#customers-testimonials').owlCarousel({
        loop: true,
        center: true,
        items: 3,
        margin: 0,
        autoplay: true,
        dots:true,
        autoplayTimeout: 8500,
        smartSpeed: 450,
        responsive: {
          0: {
            items: 1
          },
          768: {
            items: 2
          },
          1170: {
            items: 3
          }
        }
    });
  });

  $('.partner-slider').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    dots:false,
    responsive:{
        0:{
            items:2
        },
        400:{
          items:3
        },
        600:{
            items:4
        },
        800:{
          items:5
        },
        1000:{
            items:8
        }
    }
})
</script>

<script>
  AOS.init();
</script>

<script>
  var swiper = new Swiper('.swiper-container', {


    pagination: {
      el: '.swiper-pagination',
      clickable: true,
    },
    breakpoints: {
      640: {
        slidesPerView: 1,
        spaceBetween: 10,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 30,
      },
      1024: {
        slidesPerView: 3,
        spaceBetween: 10,
      },
    }
  });
</script>

<script>
  $(document).on("click", '[data-toggle="lightbox"]', function (event) {
    event.preventDefault();
    $(this).ekkoLightbox();
  });

</script>

<script>
    var Canvas = document.getElementById('canvas');
    var ctx = Canvas.getContext('2d');

    var resize = function() {
        Canvas.width = Canvas.clientWidth;
        Canvas.height = Canvas.clientHeight;
    };
    window.addEventListener('resize', resize);
    resize();

    var elements = [];
    var presets = {};

    presets.o = function (x, y, s, dx, dy) {
        return {
            x: x,
            y: y,
            r: 12 * s,
            w: 5 * s,
            dx: dx,
            dy: dy,
            draw: function(ctx, t) {
                this.x += this.dx;
                this.y += this.dy;
                
                ctx.beginPath();
                ctx.arc(this.x + + Math.sin((50 + x + (t / 10)) / 100) * 3, this.y + + Math.sin((45 + x + (t / 10)) / 100) * 4, this.r, 0, 2 * Math.PI, false);
                ctx.lineWidth = this.w;
                ctx.strokeStyle = '#f44d85';
                ctx.stroke();
            }
        }
    };

    presets.x = function (x, y, s, dx, dy, dr, r) {
        r = r || 0;
        return {
            x: x,
            y: y,
            s: 20 * s,
            w: 5 * s,
            r: r,
            dx: dx,
            dy: dy,
            dr: dr,
            draw: function(ctx, t) {
                this.x += this.dx;
                this.y += this.dy;
                this.r += this.dr;
                
                var _this = this;
                var line = function(x, y, tx, ty, c, o) {
                    o = o || 0;
                    ctx.beginPath();
                    ctx.moveTo(-o + ((_this.s / 2) * x), o + ((_this.s / 2) * y));
                    ctx.lineTo(-o + ((_this.s / 2) * tx), o + ((_this.s / 2) * ty));
                    ctx.lineWidth = _this.w;
                    ctx.strokeStyle = c;
                    ctx.stroke();
                };
                
                ctx.save();
                
                ctx.translate(this.x + Math.sin((x + (t / 10)) / 100) * 5, this.y + Math.sin((10 + x + (t / 10)) / 100) * 2);
                ctx.rotate(this.r * Math.PI / 1500);
                
                line(-1, -1, 1, 1, '#f44d85');
                line(1, -1, -1, 1, '#481ea7');
                
                ctx.restore();
            }
        }
    };

    for(var x = 0; x < Canvas.width; x++) {
        for(var y = 0; y < Canvas.height; y++) {
            if(Math.round(Math.random() * 25000) == 1) {
                var s = ((Math.random() * 5) + 1) / 10;
                if(Math.round(Math.random()) == 1)
                    elements.push(presets.o(x, y, s, 0, 0));
                else
                    elements.push(presets.x(x, y, s, 0, 0, ((Math.random() * 3) - 1) / 10, (Math.random() * 360)));
            }
        }
    }

    setInterval(function() {
    ctx.clearRect(0, 0, Canvas.width, Canvas.height);

    var time = new Date().getTime();
    for (var e in elements)
		elements[e].draw(ctx, time);
}, 10);
</script>
<!-- clinets -->
<script>
    // clients slider
     $(document).ready(function() {
    $("#news-slider").owlCarousel({
        items : 3,
        itemsDesktop:[1199,3],
        itemsDesktopSmall:[980,2],
        itemsMobile : [600,1],
        navigation:true,
        navigationText:["",""],
        pagination:true,
        rtl:true,
        autoPlay:true,
        responsive:{
          0:{
            items:1,
          },
          600:{
            items:2,
          },
          1000:{
            items:3,
            loop:false
          }
        }
    });
});
</script>

</body>

</html>