<%- include('./includes/header.ejs') %> 


<div class="container-fluid bg-header">
    <div class="row  p-5  bg-header-row align-items-end"  >
        <div class="col-md-5 m-auto text-center pt-5">
            <h3 class="heading text-white font-weight-bold"> See all blogs </h3>
            <p class="text-white"> הדור הבא לעסקים. כל מה שחשוב לדעת! <br>  
                דף הבית » תיקוני מידע </p>
        </div>
    </div>
</div>


<!-- <div class="container-fluid py-5 allblogs p-5" style="background-color: #f6f4f7;">
    <div class="row justify-content-around text-right" dir="rtl">
        <div class="col-md-3 bg-white rounded    my-2 p-3">
            <img src="https://ngf.co.il/assets/img/index/7.webp" class="img-fluid my-2" alt="">
            <h2 class=" font-weight-bold text-green">מה זה חיווי אשראי ואיך הוא משפיע עליי?  </h2>
            <p> חיווי אשראי הינו הסנן הראשוני והחשוב ביותר עבור הבנקים, חברות האשראי וגופי המימון השונים.
                חיווי האשראי הינו סף מינימום הנקבע בחוק על מנת לקבל אשראי מכל סוג, תוצאות הבדיקה הן ירוק (GO) או אדום (NO GO) הכוונה האם בנק ישראל מאשר לתת אשראי\הלוואה\משכנתא ללקוח או לא. חיווי האשראי מתבסס על דוח ריכוז הנתונים ויכול להיות מושפע מכל נתון שלילי!
                 </p>
                <div class="col-3">
                <a href="blog1" class="banner-btn rfd-btn text-white"> Read</a>
            </div>
        </div>
        <div class="col-md-3 bg-white rounded  my-2 p-3">
            <img src="img/card2.svg" class="img-fluid my-2" alt="">
            <h2 class=" font-weight-bold text-green">אז מהם הסיבות להופעת BDI שלילי?</h2>
            <p>כאשר ללקוח ישנו BDI שלילי, הוא כבר יודע על כך מראש ומודע לעובדה שקרו אחד מהדברים הבאים: חזרו לו הרשאות, שיקים שחזרו, עמלות חריגות ממסגרות, תביעה משפטית רובצת, עיקולים בחשבון, הגבלה על החשבון, פשיטת רגל, כונס נכסים, הוצאות לפועל ועוד.</p> 
            <div class="col-3">
                <a href="blog2" class="banner-btn rfd-btn text-white"> Read</a>
            </div>
        </div>
        <div class="col-md-3 bg-white rounded   my-2 p-3">
            <img src="img/card3.svg" class="img-fluid my-2" alt="">
            <h2 class=" font-weight-bold text-green">דוח נתוני אשראי </h2>
            <p> דוח נתוני אשראי הינו דוח פיננסי מפורט הכולל מידע נרחב מהעבר וההווה בנוגע להתנהלותם הפיננסית של אנשים פרטיים. הדוח מופק ע”י חברות שקיבלו רישיון לכך (לשכות אשראי) לבקשת ספקי אשראי שונים, ומסתמך על נתונים ממאגר נתוני אשראי ארצי שמנוהל ע”י בנק ישראל. </p>
            <div class="col-3">
                <a href="blog3" class="banner-btn rfd-btn text-white"> Read</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-around text-right my-4" dir="rtl">
        
        <div class="col-md-3 bg-white rounded  my-2 p-3">
            <img src="img/card4.svg" class="img-fluid my-2" alt="">
            <h2 class=" font-weight-bold text-green">Crona Effect on Economy</h2>
            <p> משבר הקורונה יצר לא רק משבר רפואי אלא משבר כלכלי חסר תקדים בארץ ובעולם. אנשים רבים איבדו את עבודתם, הוצאו לחל"ת והחלו בקיצוץ משמעותי בהוצאותיהם השוטפות בעקבות ההבנה כי אין לדעת מה יקרה מחר. משפחות איבדו את היכולת להתפרנס, הוצאו לחל"ת והכניסו פחות כסף.
                משקי בית ובעלי עסקים הגיעו לפשיטות רגל, צ'קים והוראות קבע שחזרו וגרמו לנזק רב בדו"ח האשראי שלהם. כל אלו הובילו אותם להיות בעלי חיווי אשראי שלילי ומסורבי הלוואות ומשכנתאות.
                 </p>
            <div class="col-3">
                <a href="blog4" class="banner-btn rfd-btn text-white"> Read</a>
            </div>
        </div>
        <div class="col-md-3 bg-white rounded  my-2 p-3">
            <h2 class=" font-weight-bold text-green">איך נקבע דירוג אשראי אישי ומה משפיע עליו? </h2>
            <p> דירוג אשראי הוא ציון (הדירוג נע בין 0-1000) שמקבל אדם פרטי ומשקף את היכולת שלו להחזר כספי – החזרת הלוואה או משכנתא, עמידה במסגרת אשראי וכד'. דירוג גבוה אומר שהלקוח מהווה סיכון נמוך, ולכן ניתן לתת לו ריביות ותנאי הלוואה טובים יותר.  </p>
            <div class="col-3">
                <a href="blog5" class="banner-btn rfd-btn text-white"> Read</a>
            </div>
        </div>
        <div class="col-md-3 bg-white rounded  my-2 p-3">
            <h2 class=" font-weight-bold text-green">מהו חוק נתוני האשראי?</h2>
            <p>בחודש אפריל 2019 נכנס לתוקף "חוק נתוני אשראי התשע"ו 2016". בהתאם להוראות החוק החדש, הקים בנק ישראל מאגר מרכזי לשיתוף נתוני האשראי בישראל ללקוחות פרטיים. מטרת החוק הינה לעודד תחרות בתחום האשראי הצרכני באמצעות שיתוף מידע, שנוהל עד כה בנפרד אצל  הגופים הפיננסים השונים. נתוני המאגר יאפשרו לכלל הגופים הפיננסיים להעריך בצורה טובה יותר את רמת הסיכון של הלקוחות הפונים לקבלת אשראי ויאפשר התאמה מיטבית של האשראי ללקוח.</p>
            <div class="col-3">
                <a href="blog6" class="banner-btn rfd-btn text-white"> Read</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-around text-right my-4" dir="rtl">
        <div class="col-md-3 bg-white rounded  my-2 p-3">
            <h2 class=" font-weight-bold text-green"> משכנתא למסורבים </h2>
            <p>ישנם אנשים שמבקשים לרכוש דירה או נכס ונתקלים בסירוב מהבנק. למי שנתקל בסירוב, הדבר הנכון עבורכם זה פשוט לעצור. הכוונה שלא מומלץ לפנות לבנקים או גופים אחרים לקבל משכנתא היות ורוב הסיכויים שתיתקלו שוב בתשובה שלילית ובנוסף נהרס הסיכוי לקבל משכנתא ממנו בהמשך. </p>
            <div class="col-3">
                <a href="blog7" class="banner-btn rfd-btn text-white"> Read</a>
            </div>
        </div>
        <div class="col-md-3 bg-white rounded  my-2 p-3">
            <h2 class=" font-weight-bold text-green"> Credit Bureau </h2>
            <p> לשכת אשראי היא חברה שקיבלה רישיון ממשרד המשפטים לעבד נתוני אשראי של אזרחים ולמכור אותם לספקי אשראי שונים – בנקים, חברות כרטיסי אשראי וגופים חוץ בנקאיים. </p>
            <div class="col-3">
                <a href="blog8" class="banner-btn rfd-btn text-white"> Read</a>
            </div>
        </div>
        
    </div>
</div> -->

<div class="blog-grid_wrapper" dir="rtl">
    <h1>הדור הבא לעסקים. </h1>
    <section class="blog-grid">
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
              </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
    </section>
  </div>







<%- include('./includes/footer.ejs') %> 