<%- include('./includes/header.ejs') %> 


<div class="container-fluid bg-header">
    <div class="row  p-5  bg-header-row align-items-end"  >
        <div class="col-md-5 m-auto text-center pt-5">
            <h3 class="heading text-white font-weight-bold"> See all blogs </h3>
            <p class="text-white"> הדור הבא לעסקים. כל מה שחשוב לדעת! <br>  
                דף הבית » תיקוני מידע </p>
        </div>
    </div>
</div>



<div class="  blogs-section  text-right " dir="rtl">
    <div class="col-md-11 col-10 mx-auto ">
     <div class="my-5">
      <h1 class="text-white">Read our daily Latest Blogs</h1>
      <p class="text-white">Our daily blogs help you understand what you need to get done in your business.</p>
     </div>
      <div class="row ">
      <div class="col-md-4 my-3">
        <div class="card border-0 path">
          <div class="card-body p-0 m-0 bg-transparent">
              <div class="tilt-img">
                  <img src="https://www.peakydigital.co.uk/wp-content/uploads/2021/03/DSC02578-2-e1626268737404.jpg" alt="" loading="lazy" class="img-fluid">
              </div>
              <div class="path-content p-4">
                  <h3 class="text-blue heading">How to use Access4u ?</h3>
                  <p>Want to do it yourself, but not sure where to start? Our monthly one-to-one coaching will help you build the skills and confidence to grow online.</p>
                  <a href="#" class="banner-btn rfd-btn text-white">Read More</a>
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 my-3">
        <div class="card border-0 path">
          <div class="card-body p-0 m-0 bg-transparent">
              <div class="tilt-img">
                  <img src="https://www.peakydigital.co.uk/wp-content/uploads/2021/04/DSC02339.jpg" alt="" loading="lazy" class="img-fluid">
              </div>
              <div class="path-content p-4">
                  <h3 class="text-blue heading">How important is user data Behaviour ?</h3>
                  <p>Understand your user behaviour more better by visualizing the real-time he spend on your website.</p>
                  <a href="#" class="banner-btn rfd-btn text-white">Read More</a>
              </div>
          </div>
        </div>
      </div>

      <div class="col-md-4 my-3">
        <div class="card border-0 path">
          <div class="card-body p-0 m-0 bg-transparent">
              <div class="tilt-img">
                  <img src="https://www.peakydigital.co.uk/wp-content/uploads/2021/07/DSC02793.jpg" alt="" loading="lazy" class="img-fluid">
              </div>
              <div class="path-content p-4">
                  <h3 class="text-blue heading">Workshops</h3>
                  <p>Develop digital marketing skills to help your company grow fast. Make more sales and scale to x-figures faster with our data-driven strategies.</p>
                  <a href="#" class="banner-btn rfd-btn text-white">Read More</a>
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>
 </div>

 

<div class="blog-grid_wrapper" dir="rtl">
    <h1>הדור הבא לעסקים. </h1>
    <section class="blog-grid">
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
              </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
      <div class="card">
        <div class="card-img">
            <img src="http://placeimg.com/640/480/tech" alt="">
        </div>
        <div class="card-content">
            <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
            <p class="card-desc">
              בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
            <div class="card-profile">
                <div class="card-profile-img">
                    <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                </div>
                <div class="card-profile-content">
                    <h3>Vetri Suriya</h3>
                    <span>4h ago</span>
                </div>
            </div>
            <div class="text-center mt-4">
                <a class="text-center btn read-more" href="#">READ MORE</a>
            </div>
        </div>
      </div>
    </section>
  </div>







<%- include('./includes/footer.ejs') %> 