<%- include('./includes/header.ejs') %> 


<div class="container-fluid bg-header">
    <div class="row  p-lg-5  bg-header-row"  >
        <div class="col-md-5 m-auto text-center pt-5">
            <h3 class="heading text-white font-weight-bold"> כיצד דירוג וחיווי האשראי משפיעים בקבלת משכנתא? </h3>
            <p class="text-white"> דף הבית » כיצד דירוג וחיווי האשראי משפיעים בקבלת משכנתא? </p>
        </div>
    </div>
</div>


<div class="container-fluid p-lg-5" style="background-color: #f6f4f7;">
    <div class="text-center py-4">
        <h2 class="font-weight-bold">Blog Name</h2>
        <p>Welcome to the blog of Access for you</p>
    </div>
    <div class="row  text-right" dir="rtl">
        <div class="col-md-8">
            <div class="bg-white bg-white">
                <figure class="single-blog-img">
                    <img src="http://placeimg.com/640/480/tech" alt="">
                </figure>
                <div class="p-3">
                    <h2 class="font-weight-bold text-green">מה זה חיווי אשראי ואיך הוא משפיע עליי?  </h2>
                <p> חיווי אשראי הינו הסנן הראשוני והחשוב ביותר עבור הבנקים, חברות האשראי וגופי המימון השונים. </p>

                <br>
                <p>חיווי האשראי הינו סף מינימום הנקבע בחוק על מנת לקבל אשראי מכל סוג, תוצאות הבדיקה הן ירוק (GO) או אדום (NO GO) הכוונה האם בנק ישראל מאשר לתת אשראי\הלוואה\משכנתא ללקוח או לא. חיווי האשראי מתבסס על דוח ריכוז הנתונים ויכול להיות מושפע מכל נתון שלילי!</p> <br>
                חיווי אשראי הוא למעשה בדיקה ראשונית המבוצעת על ידי סוכנויות האשראי במטרה לבדוק האם ניתן להעניק הלוואה או שמא מדובר בסיכון אשראי גדול מדי. על סמך חיווי האשראי ניתן לכם אור ירוק עקרוני לקבלת אשראי.<br>

                <h2 class=" font-weight-bold text-green">למה משמש חיווי האשראי?</h2>
                <p>חיווי האשראי מתבסס על נתונים המופיעים בדירוג האשראי הנמצא בבנק ישראל. וכאמור, ספק אשראי יכול לבקש מידע על חיווי אשראי של אדם מסוים גם בלי להזדהות וללא הסכמת האדם שלגביו מבוקש המידע. מה ההבדל המעשי בין חיווי אשראי לדירוג אשראי? באמצעות חיווי האשראי מקבל הבנק או ספק האשראי החלטה אם בכלל לאשר את ההלוואה או המשכנתא המבוקשת, ולאחר שהתקבלה החלטה חיובית, מחליט הבנק לגבי גובה הריבית, בהסתמך על דירוג האשראי. </p>
                <h2 class="font-weight-bold text-green"> מה גורם לחיווי אשראי שלילי אדום?  </h2>
                <p>
                    <ul class="list-unstyled blog-list-wrap px-0">
                        <li>
                            <i class="fa-regular fa-circle-check text-green mx-2"></i>
                            <span>
                            אי כיבוד המחאות בנקאית – מעל חמש צ’קים שלא כובדו מהווה סמן אדום
                            </span>
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check text-green mx-2"></i>
                            <span>
                            פתיחת הליך משפטי בעקות חוב של 10,000  ש”ח או מעלה לבנק או גורם אשראי אחר.
                            </span>
                        </li>
                        <li> 
                            <i class="fa-regular fa-circle-check text-green mx-2"></i>
                            <span>
                            הליכי כינוס נכסים. 
                            </span>
                        </li>
                        <li><i class="fa-regular fa-circle-check text-green mx-2"></i> 
                            <span>
                                . הליכי פשיטת רגל.
                            </span>
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check text-green mx-2"></i> 
                            <span>
                                פתיחת תיקי הוצאה לפועל בסכום העולה על 4000  ש”ח למספר נושים או 5000 ש”ח  ומעלה לנושה יחיד.
                            </span>
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check text-green mx-2"></i>
                            <span>
                            . חשבון בנק מוגבל.
                            </span>
                        </li>
                        <li>
                            <i class="fa-regular fa-circle-check text-green mx-2"></i>
                            <span>
                            . הסדרי נושים. 
                            </span>
                        </li>
                    </ul>
                </p>
                <br><br>
                <h2 class="font-weight-bold text-green">כמה זמן לוקח ל BDI שלילי להימחק? </h2>
                <p> הBDI מכיל נתונים רבים ממקורות שונים כגון: בנק ישראל, כונס נכסים רשמי, מקורות מוסמכים, בתי-משפט, מנפיקי כרטיסי חיוב ולשכת הוצאה לפועל. לכן הגבלה מטעם בנק ישראל תמחק לאחר 3 שנים מיום סיום ההגבלה, הליכים ברשות האכיפה ימחקו לאחר 5 שנים מיום סגירת תיק ההוצל"פ, וגם פשיטת רגל תימחק ממערכת ה BDI לאחר 7 שנים מיום קבלת ההפטר מבית המשפט המחוזי. </p>
                
                <h2 class=" font-weight-bold text-green">האם באמת ניתן למחוק BDI שלילי? </h2>
                <p> כן, חשוב לציין שלא כל מקרה ניתן לתיקון ומחיקה, ולכן בהתאם לדוח נתוני האשראי יחד אנחנו בוחנים סיכוי הצלחה במחיקת ה BDI השלילי. <br> בנוסף קיימת אפשרות נוספת לשיפור דירוג ה BDI, פעולה מורכבת וממוקדמת, אך כל מקרה לגופו ובהתאם לדוח האשראי של הלקוח. </p>
                
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="stick-to-top">
            <div class="bg-white left-block">
                <figure>
                    <img src="http://placeimg.com/640/480/tech" alt="">
                </figure>
                <div class="block-disc p-3">
                    <h3 class="text-green">Our Company</h3>
                    <p>חיווי האשראי הינו סף מינימום הנקבע בחוק על מנת לקבל אשראי מכל סוג, תוצאות הבדיקה הן ירוק (GO) או אדום (NO GO) הכוונה האם בנק ישראל מאשר לתת אשראי\הלוואה\משכנתא ללקוח או לא. חיווי האשראי מתבסס על דוח ריכוז הנתונים ויכול להיות מושפע מכל נתון שלילי!</p>
                </div>
            </div>
            <div class="bg-white most-popular my-3">
                <h3 class="mb-0">Most Popular</h2>
                <div class="popular-list">
                    <li class="d-flex gap-2 align-items-center p-2 mb-2">
                        <figure class="mb-0">
                            <img src="http://placeimg.com/640/480/tech" alt="">
                        </figure>
                        <div class="popular-blog flex-grow-1">
                            <h6>John Smith</h6>
                            <span>Lorem, ipsum dolor.</span>
                        </div>
                    </li>
                    <li class="d-flex gap-2 align-items-center p-2 mb-2">
                        <figure class="mb-0">
                            <img src="http://placeimg.com/640/480/tech" alt="">
                        </figure>
                        <div class="popular-blog flex-grow-1">
                            <h6>John Smith</h6>
                            <span>Lorem, ipsum dolor.</span>
                        </div>
                    </li>
                    <li class="d-flex gap-2 align-items-center p-2 mb-2">
                        <figure class="mb-0">
                            <img src="http://placeimg.com/640/480/tech" alt="">
                        </figure>
                        <div class="popular-blog flex-grow-1">
                            <h6>John Smith</h6>
                            <span>Lorem, ipsum dolor.</span>
                        </div>
                    </li>
                    <li class="d-flex gap-2 align-items-center p-2 mb-2">
                        <figure class="mb-0">
                            <img src="http://placeimg.com/640/480/tech" alt="">
                        </figure>
                        <div class="popular-blog flex-grow-1">
                            <h6>John Smith</h6>
                            <span>Lorem, ipsum dolor.</span>
                        </div>
                    </li>
                    <li class="d-flex gap-2 align-items-center p-2 mb-2">
                        <figure class="mb-0">
                            <img src="http://placeimg.com/640/480/tech" alt="">
                        </figure>
                        <div class="popular-blog flex-grow-1">
                            <h6>John Smith</h6>
                            <span>Lorem, ipsum dolor.</span>
                        </div>
                    </li>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="blog-grid_wrapper" dir="rtl">
        <h1>קרא עוד בלוגים</h1>
        <section class="blog-grid">
          <div class="card">
            <div class="card-img">
                <img src="http://placeimg.com/640/480/tech" alt="">
            </div>
            <div class="card-content">
                <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
                <p class="card-desc">
                  בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
                <div class="card-profile">
                    <div class="card-profile-img">
                        <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                    </div>
                    <div class="card-profile-content">
                        <h3>Vetri Suriya</h3>
                        <span>4h ago</span>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a class="text-center btn read-more" href="#">READ MORE</a>
                  </div>
            </div>
          </div>
          <div class="card">
            <div class="card-img">
                <img src="http://placeimg.com/640/480/tech" alt="">
            </div>
            <div class="card-content">
                <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
                <p class="card-desc">
                  בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
                <div class="card-profile">
                    <div class="card-profile-img">
                        <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                    </div>
                    <div class="card-profile-content">
                        <h3>Vetri Suriya</h3>
                        <span>4h ago</span>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a class="text-center btn read-more" href="#">READ MORE</a>
                </div>
            </div>
          </div>
          <div class="card">
            <div class="card-img">
                <img src="http://placeimg.com/640/480/tech" alt="">
            </div>
            <div class="card-content">
                <h2 class="card-title">דגשים חשובים להקמת עסק</h2>
                <p class="card-desc">
                  בכדי להקים עסק דרוש הון התחלתי, רעיון והמון מוטיבציה.</p>
                <div class="card-profile">
                    <div class="card-profile-img">
                        <img src="https://rvs-blog-card.vercel.app/vetri_suriya_1.jpg" alt="">
                    </div>
                    <div class="card-profile-content">
                        <h3>Vetri Suriya</h3>
                        <span>4h ago</span>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <a class="text-center btn read-more" href="#">READ MORE</a>
                </div>
            </div>
          </div>
        </section>
    </div>
    <!-- <div class="row">
        <div class="col-md-4  my-2">
            <div class="bg-white p-3">
            <h2 class=" font-weight-bold text-green">איך נקבע דירוג אשראי אישי ומה משפיע עליו?</h2>
            <p>דירוג אשראי הוא ציון (הדירוג נע בין 0-1000) שמקבל אדם פרטי ומשקף את היכולת שלו להחזר כספי – החזרת הלוואה או משכנתא, עמידה במסגרת אשראי וכד'. </p>
            <a href="blog5" class="btn btn-primary btn-style"> Read</a>
            <div class="col-3">
                
            </div>
        </div>
        </div>
    </div> -->
</div>
            

<%- include('./includes/footer.ejs') %> 