<%- include('./includes/header.ejs') %> 
    <div class="process_banner price-bg" dir="rtl">
      <div class="process_banner-container">
        <div class="process_banner-wrap">
            <div class="process_banner_colum-50">
              <h1>We respect our valuable customers</h1>
              <p class="paragraph-33">Receive detailed status updates whenever customers interact with your requests. Identify positive or negative experiences, survey submissions, and direct feedback.<br></p>
              <div class="btn-container-header">
                <a href="/demo/demo-x1a51var" class="">
                  <h5 class="heading-111">
                    Get Started
                  </h5>
                </a>
              </div>
            </div>
            <div class="process_banner_colum-50 colum-img">
              <div class="process-banner-image">
                <img src="./img/image_processing20210125-29897-f4ndct.gif" alt="">
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="container-fluid py-5">
      <h2 class="sect-heading">OUR CLIENTS</h2>
      <div class="row">
        <div class="col-md-12">
          <div id="news-slider" class="owl-carousel">
            <div class="post-slide">
              <div class="post-img">
                <img src="https://images.unsplash.com/photo-1596265371388-43edbaadab94?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=501" alt="">
                <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
              </div>
              <div class="post-content">
                <h3 class="post-title">
                  <a href="#">Lorem ipsum dolor sit amet.</a>
                </h3>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                <span class="post-date">Out 27, 2019<i class="fa fa-clock-o"></i></span>
                <a href="#" class="read-more">read more</a>
              </div>
            </div>
            
            <div class="post-slide">
              <div class="post-img">
                <img src="https://images.unsplash.com/photo-1533227268428-f9ed0900fb3b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=303&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=503" alt="">
                <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
              </div>
              <div class="post-content">
                <h3 class="post-title">
                  <a href="#">Lorem ipsum dolor sit amet.</a>
                </h3>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                <span class="post-date">Out 27, 2019<i class="fa fa-clock-o"></i></span>
                <a href="#" class="read-more">read more</a>
              </div>
            </div>
            
            <div class="post-slide">
              <div class="post-img">
                <img src="https://images.unsplash.com/photo-1564979268369-42032c5ca998?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=300&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=500" alt="">
                <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
              </div>
              <div class="post-content">
                <h3 class="post-title">
                  <a href="#">Lorem ipsum dolor sit amet.</a>
                </h3>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                <span class="post-date">Out 27, 2019<i class="fa fa-clock-o"></i></span>
                <a href="#" class="read-more">read more</a>
              </div>
            </div>
            
            <div class="post-slide">
              <div class="post-img">
                <img src="https://images.unsplash.com/photo-1576659531892-0f4991fca82b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=301&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=501" alt="">
                <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
              </div>
              <div class="post-content">
                <h3 class="post-title">
                  <a href="#">Lorem ipsum dolor sit amet.</a>
                </h3>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                <span class="post-date">Out 27, 2019<i class="fa fa-clock-o"></i></span>
                <a href="#" class="read-more">read more</a>
              </div>
            </div>
            
            <div class="post-slide">
              <div class="post-img">
                <img src="https://images.unsplash.com/photo-1586083702768-190ae093d34d?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=305&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=505" alt="">
                <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
              </div>
              <div class="post-content">
                <h3 class="post-title">
                  <a href="#">Lorem ipsum dolor sit amet.</a>
                </h3>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                <span class="post-date">Out 27, 2019<i class="fa fa-clock-o"></i></span>
                <a href="#" class="read-more">read more</a>
              </div>
            </div>

            <div class="post-slide">
              <div class="post-img">
                <img src="https://images.unsplash.com/photo-1484656551321-a1161420a2a0?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=306&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=506" alt="">
                <a href="#" class="over-layer"><i class="fa fa-link"></i></a>
              </div>
              <div class="post-content">
                <h3 class="post-title">
                  <a href="#">Lorem ipsum dolor sit amet.</a>
                </h3>
                <p class="post-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam consectetur cumque dolorum, ex incidunt ipsa laudantium necessitatibus neque quae tempora......</p>
                <span class="post-date">Out 27, 2019<i class="fa fa-clock-o"></i></span>
                <a href="#" class="read-more">read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="news-part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-7 col-lg-6 col-xl-5">
                <form class="news-form">
                    <button><span><i class="icofont-ui-email"></i>Subscribe</span></button>
                    <input type="text" placeholder="Enter Your Email Address">
                </form>
            </div>
            <div class="col-md-5 col-lg-6 col-xl-7">
              <div class="news-text">
                  <h2>Get 20% Discount for Subscriber</h2>
                  <p>Lorem ipsum dolor consectetur adipisicing accusantium</p>
              </div>
          </div>
        </div>
    </div>
    </section>
    <div class="clients-wrapper">
      <div class="clients-container_wrap ">
        <div class="clients-container">
          <div class="clients-container_img">
            <figure class="clients-container_img-wrap">
              <img src="img/3.webp" alt="">
            </figure>
          </div>
          <div class="client-container-details">
            <h2>OUR CLIENTS SAYS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt reiciendis, minus quia modi tempora blanditiis et ducimus quis accusamus laborum culpa necessitatibus doloremque. Sunt dolorem libero cupiditate exercitationem maxime? Atque accusamus aperiam laborum fugiat </p>
            <h4><b>JOHN JACKSONS</b></h4>
            <span>HAPPY CLIENTS</span>
          </div>
        </div>
      </div>
    </div>
<%- include('./includes/footer.ejs') %> 