<%- include('./includes/header.ejs') %> 


<div class="process_banner ">
  <div class="process_banner-container2">
    <div class="process_banner-wrap justify-content-center">
        <div class="process_banner-content">
          <span class="p-badge">PRICING</span>
          <h1 class="pricing-heading">
            <span class="text-white">Get Started Now,</span>
            <span class="text-yellow">Pick a Plan Later</span>
          </h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus quidem omnis debitis similique temporibus, ratione culpa!</p>
          <span class="p-banner-badge">Easy to Buy</span>
        </div>
    </div>
  </div>
</div>



<div class="contact__wrap bg-image">
  <h1>בואו נפעל לשיפור</h1>
  <p dir="rtl" class="letter-space d-md-block">נציגינו ממתינים לפנייתך כעת!</p>
  <div class="contact-container" dir="rtl">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">
            כתובתינו</div>
          <div class="text-one contact-text">יגיע כפיים 2 (בית פילוט), תל אביב,</div>
          <div class="text-two contact-text">ישראל</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">חייגו אלינו</div>
          <div class="text-one">
            <a href="tel:072-328-1414" class="contact-text">072-328-1414 </a>
          </div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">
            שלחו אימייל</div>
          <div class="text-one contact-text">codinglab@gmail.com</div>
          <div class="text-two "><a class="contact-text" href="mailto:info@biocredit.co.il">info@ngf.co.il</a></div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text text-yellow">שלחו לנו הודעה</div>
        <p class="topic-des">אם יש לך עבודה ממני או כל סוג של שאילתות הקשורות להדרכה שלי, אתה יכול לשלוח לי הודעה מכאן. זה העונג שלי לעזור לך.</p>
      <form action="/emailForm" method="post" role="form">
        <div class="input-box">
          <input type="text" name="name" dir="rtl" class="text-right" id="name" placeholder="הכנס/י שם מלא.."  />
          <div class="validate"></div>
        </div>
        <div class="input-box">
          <input type="email" class="text-right"  dir="rtl" name="email" placeholder="הכנס/י אמייל.." id="email" data-rule="email" data-msg="Please enter a valid email" />
          <div class="validate"></div>
        </div>
        <div class="input-box">
          <input type="text" class="form-control text-right"   dir="rtl" name="phone" id="subject"  placeholder="הכנס/י טלפון.." data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
        </div>
        <div class="input-box message-box">
          <textarea class="form-control text-right " id="message" name="message"  dir="rtl" placeholder="הכנס/י הודעה.." rows="4" data-rule="required" data-msg="Please write something for us"></textarea>
        </div>
        <div class="mb-3">
          <div class="loading d-none">Loading</div>
          <div class="error-message d-none"></div>
          <div class="sent-message d-none">Your message has been sent. Thank you!</div>
        </div>
        <div class="button">
          <button type="submit" value="Send Now" >Send</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>


<section class="news-part">
  <div class="container">
      <div class="row align-items-center">

        <div class="col-md-5  m-auto">
          <div id="carouselExampleIndicators" class="carousel slide my-3" data-ride="carousel">
            <ol class="carousel-indicators ">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner text-center text-white">
              <div class="carousel-item active my-5">
                <p>" I have been using access4u for 2-3 months, and its incredble. Its been helping me understand my customers. "</p>
                <p class="blockquote-footer text-yellow">Adi</p>
              </div>
              <div class="carousel-item my-5">
                <p>" I have been using access4u for 2-3 months, and its incredble. Its been helping me understand my customers. "</p>
                <p class="blockquote-footer text-yellow">Hussnain</p>
              </div>
              <div class="carousel-item my-5">
                <p>" I have been using access4u for 2-3 months, and its incredble. Its been helping me understand my customers. "</p>
                <p class="blockquote-footer text-yellow">Ram</p>
              </div>
            </div>
          </div>
        </div>


        <div class="col-md-5  m-auto">
          <div class="text-center">
              <h2 class="text-white">More than <span class="text-yellow">20,000</span> using Access4u.
                </h2>
              <p class="text-white">Let's give it a try and we are sure you will love it !</p>
              <a href="#" class="banner-btn gt-btn text-blue ">Get Started free</a>
          </div>
        </div>

      </div>
     
  </div>
</section>



<section class="intro-part" dir="rtl">
  <div class="container">
      <div class="row intro-content">
          <div class="col-sm-6 col-lg-3">
              <div class="intro-wrap">
                  <div class="intro-icon">
                      <i class="fas fa-truck"></i>
                  </div>
                  <div class="intro-content">
                      <h5>Multiple Packages</h5>
                      <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3">
              <div class="intro-wrap">
                  <div class="intro-icon">
                      <i class="fas fa-sync-alt"></i>
                  </div>
                  <div class="intro-content">
                      <h5>instant return policy</h5>
                      <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3">
              <div class="intro-wrap">
                  <div class="intro-icon">
                      <i class="fas fa-headset"></i>
                  </div>
                  <div class="intro-content">
                      <h5>quick support system</h5>
                      <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                  </div>
              </div>
          </div>
          <div class="col-sm-6 col-lg-3">
              <div class="intro-wrap">
                  <div class="intro-icon">
                      <i class="fas fa-lock"></i>
                  </div>
                  <div class="intro-content">
                      <h5>secure payment way</h5>
                      <p>Lorem ipsum dolor sit amet adipisicing elit nobis.</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>








<%- include('./includes/footer.ejs') %> 