<%- include('./includes/header.ejs') %> 
<!-- ============= PROCESS START ============= -->
    <!-- banner -->
    <div class="process_banner">
      <div class="process_banner-container">
        <div class="process_banner-wrap">
            <div class="process_banner_colum-50 colum-img">
              <div class="process-banner-image">
                <img src="img/banner-half.png" alt="">
              </div>
            </div>
            <div class="process_banner_colum-50">
              <h1>Stay on top of your requests with customer insights</h1>
              <p class="paragraph-33">Receive detailed status updates whenever customers interact with your requests. Identify positive or negative experiences, survey submissions, and direct feedback.<br></p>
              <div class="btn-container-header">
                <a href="/demo/demo-x1a51var" class="">
                  <h5 class="heading-111">
                      <div class="arrow">
                        <img src="img/down-arrow.png" alt="">
                      </div>  
                    Watch Steps
                  </h5>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- banner -->

  <section class="process-container">
    <h3 class="p-heading">Lorem ipsum dolor sit amet consectetur adipisicing.</h3>
    <div class="process-container__wrap">
      <div class="right">
        <figure>
          <img src="img/Capture.PNG" alt="">
        </figure>
      </div>
      <div class="left">
        <span>1</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
    </div>
    <div class="process-container__wrap col_reverse">
      <div class="left">
        <span>2</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
      <div class="right">
        <figure>
          <img src="img/s-2.png" alt="">
        </figure>
      </div>
    </div>
    <div class="process-container__wrap">
      <div class="right">
        <figure>
          <img src="img/s3.png" alt="">
        </figure>
      </div>
      <div class="left">
        <span>3</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
    </div>
    <div class="process-container__wrap col_reverse">
      <div class="left">
        <span>4</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
      <div class="right">
        <figure>
          <img src="img/s4.png" alt="">
        </figure>
      </div>
    </div>
    <div class="process-container__wrap">
      <div class="right">
        <figure>
          <img src="img/s6.png" alt="">
        </figure>
      </div>
      <div class="left">
        <span>5</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
    </div>
    <div class="process-container__wrap col_reverse">
      <div class="left">
        <span>6</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
      <div class="right">
        <figure>
          <img src="img/s7.png" alt="">
        </figure>
      </div>
    </div>
    <div class="process-container__wrap">
      <div class="right">
        <figure>
          <img src="img/s8.png" alt="">
        </figure>
      </div>
      <div class="left">
        <span>7</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
    </div>
    <div class="process-container__wrap col_reverse">
      <div class="left">
        <span>8</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
      <div class="right">
        <figure>
          <img src="img/s9.png" alt="">
        </figure>
      </div>
    </div>
  </section>









<!-- ============= PROCESS END =============== -->
<%- include('./includes/footer.ejs') %> 