<%- include('./includes/header.ejs') %> 
<!-- ============= PROCESS START ============= -->
    <!-- banner -->
    <div class="process_banner">
      <div class="process_banner-container">
        <div class="process_banner-wrap justify-content-center">
            <!-- <div class="process_banner_colum-50 colum-img">
              <div class="process-banner-image">
                <img src="img/banner-half.png" alt="">
              </div>
            </div> -->
            <div class="process_banner_colum-50 text-center">
              <h1>You do not need to be <span class="text-yellow">Techy ! </span> We have Simple Steps.</h1>
              <p class="paragraph-33">Receive detailed status updates whenever customers interact with your requests. Identify positive or negative experiences, survey submissions, and direct feedback.<br></p>
              <div class="btn-container-header m-auto">
                <a href="/demo/demo-x1a51var" class="">
                  <h5 class="heading-111">
                      <div class="arrow">
                        <i class="fa fa-arrow-circle-down "></i>
                      </div>  
                    Watch Steps
                  </h5>
                </a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!-- banner -->

  <section class="process-container bg-image">
    <h3 class="p-heading">Simply Sign Up and have <span class="text-yellow">Your Own Beautiful Dashboard</span> </h3>
    


    <div class="container-fluid process-images">
        <div class="col-md-8 m-auto">
          <img src="img/Capture.PNG" class="img-fluid" alt=""> 
        </div>
    </div>



    

    <div class="process-container__wrap col_reverse mt-5">
      <div class="left">
        <span>1</span>
        <h4>Add Your Domain Name</h4>
        <p>Enter the Domain Name You want to use our Plugin with.</p>
      </div>
      <div class="right">
        <figure>
          <img src="img/s-2.png" alt="">
        </figure>
      </div>
    </div>
    <div class="process-container__wrap">
      <div class="right">
        <figure>
          <img src="img/s3.png" alt="">
        </figure>
      </div>
      <div class="left">
        <span>2</span>
        <h4>Get The Script</h4>
        <p>Just Copy the Script and that's it. No need to do anything , </p>
      </div>
    </div>
    <div class="process-container__wrap col_reverse">
      <div class="left">
        <span>3</span>
        <h4>Pay a Little</h4>
        <p>Our Pricing are as cheap as you can think of !</p>
      </div>
      <div class="right">
        <figure>
          <img src="img/s6.png" alt="">
        </figure>
      </div>
    </div>
    <div class="process-container__wrap">
      <div class="right">
        <figure>
          <img src="img/s9.png" alt="">
        </figure>
      </div>
      <div class="left">
        <span>4</span>
        <h4>Add Script To Your Site</h4>
        <p>You do not need to know anything about coding , Just open html file and paste the code in header section.</p>
      </div>
    </div>




    <section class="news-part">
      <div class="container">
              <div class="col-md-5 col-lg-6 col-xl-7 m-auto">
                <div class="text-center">
                    <h2 class="text-white">More than <span class="text-yellow">20,000</span> using Access4u.
                      </h2>
                    <p class="text-white">Let's give it a try and we are sure you will love it !</p>
                    <a href="#" class="banner-btn gt-btn text-blue ">Get Started free</a>
                </div>

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators ">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner text-center text-white">
                    <div class="carousel-item active my-5">
                      <p>" I have been using access4u for 2-3 months, and its incredble. Its been helping me understand my customers. "</p>
                      <p class="blockquote-footer text-yellow">Adi</p>
                    </div>
                    <div class="carousel-item my-5">
                      <p>" I have been using access4u for 2-3 months, and its incredble. Its been helping me understand my customers. "</p>
                      <p class="blockquote-footer text-yellow">Hussnain</p>
                    </div>
                    <div class="carousel-item my-5">
                      <p>" I have been using access4u for 2-3 months, and its incredble. Its been helping me understand my customers. "</p>
                      <p class="blockquote-footer text-yellow">Ram</p>
                    </div>
                  </div>
                </div>
            </div>
      </div>
    </section>


    <div class="our-faq-wrapper ">
      <div class="featured-content">
        <div class="row">
          <div class="col-md-12">
            <div class="faq-title text-center pb-3">
              <h2 class="heading">נשאל תכופות <span class="text-yellow">שאלות</span> </h2>
            </div>
          </div>
          <div class="col-lg-6 " dir="rtl">
            <div class="accordion text-right" id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                      aria-expanded="true" aria-controls="collapseOne">
                      מה ההבדל בין חינם של EqualWeb לתשלום <br> גרסאות של נגישות אתרים
                      ווידג'טים?
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body text-right">
                    לגרסה החינמית של ווידג'ט הנגישות של EqualWeb יש מודל תאימות חלקי שמפעיל
                    שינויים זמניים בנגישות במרווחי זמן מרכזיים, בעוד שהגרסה בתשלום לא רק מציעה את אלה
                    שיפורים אך גם מתקן את הקוד הבסיסי לעבודה עם טכנולוגיה מסייעת עבור WCAG שונים
                    הנחיות.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo"> Do we collect any information about visitors on
                      your website?</button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">The EqualWeb website does not collect any personally identifiable information
                    (PII) or behavioral data on your site or its visitors, as it is part of our privacy-by-design
                    organization. For more information on this topic, please refer to EuqlWeb's Privacy Policy. </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6"  dir="rtl">
            <div class="accordion text-right" id="accordion2">
              <div class="card">
                <div class="card-header" id="heading4">
                  <h5 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4"
                      aria-expanded="false" aria-controls="collapse4">Why should you choose EqualWeb over other
                      accessibility solutions?</button>
                  </h5>
                </div>
                <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion2">
                  <div class="card-body">As the software provider for over 100 million web pages, including those of
                    international government agencies, banks, and small businesses alike, EqualWeb is the easiest, most
                    robust way to make your site more accessible for all users. Our AI-powered rule engine is constantly
                    learning from a vast array of WCAG violations and becoming more robust. Beware of non-compliant
                    accessibility tools It's careless to use tools that are not compliant with accessibility guidelines.
                    Doing so can put your website performance and legal risk at risk. In fact, we are so confident with
                    our solution that we are the only company in the market backing you up with 1,00,000$ in digital
                    accessibility warranty. </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading5">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse5"
                      aria-expanded="false" aria-controls="collapse5"> Will the widget’s updates overwrite any changes I
                      make to my site?</button>
                  </h5>
                </div>
                <div id="collapse5" class="collapse" aria-labelledby="heading5" data-parent="#accordion2">
                  <div class="card-body">Yes, a small change to your site may disrupt its accessibility. EqualWeb's
                    automated widget identifies changes on your site, If it finds any violations in new content posts,
                    these will be immediately corrected by EqualWeb's Accessibility Widget at the time of publication.
                    Feel free to publish new content without having to worry about corrections in advance for
                    accessibility compliance! </div>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="contact__wrap bg-image">
      <h1 class="text-center"><span class="text-yellow">שְׁאֵלָה </span> עדיין יש כאלה</h1>
      <p dir="rtl" class="letter-space d-md-block" >אנחנו אוהבים לעזור לענות לך.</p>
      <div class="contact-container " dir="rtl">
        <div class="content justify-content-center">
          <!-- <div class="left-side">
            <div class="address details">
              <i class="fas fa-map-marker-alt"></i>
              <div class="topic">
                כתובתינו</div>
              <div class="text-one contact-text">יגיע כפיים 2 (בית פילוט), תל אביב,</div>
              <div class="text-two contact-text">ישראל</div>
            </div>
            <div class="phone details">
              <i class="fas fa-phone-alt"></i>
              <div class="topic">חייגו אלינו</div>
              <div class="text-one">
                <a href="tel:072-328-1414" class="contact-text">072-328-1414 </a>
              </div>
            </div>
            <div class="email details">
              <i class="fas fa-envelope"></i>
              <div class="topic">
                שלחו אימייל</div>
              <div class="text-one contact-text">codinglab@gmail.com</div>
              <div class="text-two "><a class="contact-text" href="mailto:info@biocredit.co.il">info@ngf.co.il</a></div>
            </div>
          </div> -->
          <div class="right-side">
            <div class="topic-text text-yellow">שלחו לנו הודעה</div>
            <p class="topic-des">אם יש לך עבודה ממני או כל סוג של שאילתות הקשורות להדרכה שלי, אתה יכול לשלוח לי הודעה מכאן. זה העונג שלי לעזור לך.</p>
          <form action="/emailForm" method="post" role="form">
            <div class="input-box">
              <input type="text" name="name" dir="rtl" class="text-right" id="name" placeholder="הכנס/י שם מלא.."  />
              <div class="validate"></div>
            </div>
            <div class="input-box">
              <input type="email" class="text-right"  dir="rtl" name="email" placeholder="הכנס/י אמייל.." id="email" data-rule="email" data-msg="Please enter a valid email" />
              <div class="validate"></div>
            </div>
            <div class="input-box">
              <input type="text" class="form-control text-right"   dir="rtl" name="phone" id="subject"  placeholder="הכנס/י טלפון.." data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
            </div>
            <div class="input-box message-box">
              <textarea class="form-control text-right " id="message" name="message"  dir="rtl" placeholder="הכנס/י הודעה.." rows="4" data-rule="required" data-msg="Please write something for us"></textarea>
            </div>
            <div class="mb-3">
              <div class="loading d-none">Loading</div>
              <div class="error-message d-none"></div>
              <div class="sent-message d-none">Your message has been sent. Thank you!</div>
            </div>
            <div class="button">
              <button type="submit" class="banner-btn rfd-btn text-white" value="Send Now" >Send</button>
            </div>
          </form>
        </div>
        </div>
      </div>
    </div>
    

    <!-- <div class="process-container__wrap col_reverse">
      <div class="left">
        <span>6</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
      <div class="right">
        <figure>
          <img src="img/s7.png" alt="">
        </figure>
      </div>
    </div>
    <div class="process-container__wrap">
      <div class="right">
        <figure>
          <img src="img/s8.png" alt="">
        </figure>
      </div>
      <div class="left">
        <span>7</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
    </div>
    <div class="process-container__wrap col_reverse">
      <div class="left">
        <span>8</span>
        <h4>Check SMS & Email statuses</h4>
        <p>Check the status of your review requests whenever customers interact with them.</p>
      </div>
      <div class="right">
        <figure>
          <img src="img/s9.png" alt="">
        </figure>
      </div>
    </div> -->
  </section>









<!-- ============= PROCESS END =============== -->
<%- include('./includes/footer.ejs') %> 